<div class="content mat-elevation-z4">
  <app-toolbar-title title="Estudantes" icon="fa-solid fa-chalkboard-user">
    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
  </app-toolbar-title>
  <div class="container">
    <router-outlet></router-outlet>
    <div>
      <h1>Catálogo de Cursos:</h1>
      <p>Descubra e inscreva-se nos cursos disponíveis na nossa plataforma:</p>
      <p>Variedade de Cursos: Explore uma ampla gama de cursos em diversas áreas de conhecimento.</p>
      <p>Descrições Detalhadas: Saiba mais sobre cada curso antes de se inscrever, com informações detalhadas sobre o conteúdo e os objetivos.</p>
    </div>
    <hr><br>
    <div class="left">
      <h1>Progresso do Curso:</h1>
      <p>Acompanhe seu progresso de aprendizado de forma fácil e conveniente:</p>
      <p>Progresso Visual: Veja seu progresso em cada curso, incluindo módulos concluídos e pendentes.</p>
      <p>Acesso Rápido: Navegue facilmente pelos cursos em que está inscrito e retome suas atividades rapidamente.</p>
    </div>
    <hr><br>
    <div>
      <h1>Fórum de Discussão:</h1>
      <p>Interaja com outros alunos, compartilhe experiências e tire dúvidas:</p>
      Comunidade Ativa: Faça parte de uma comunidade de aprendizado vibrante e colaborativa.

      <p>Suporte Mútuo: Obtenha ajuda de colegas e compartilhe seus conhecimentos para enriquecer a experiência de aprendizado de todos.</p>
    </div>
  </div>
</div>


