<div class="content mat-elevation-z4">
  <app-toolbar-title title="Suporte" icon="fa-solid fa-headset">
    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
  </app-toolbar-title>
  <div class="container">
    <router-outlet></router-outlet>
    <div>
      <h1>FAQ (Perguntas Frequentes):</h1>
      <p>Tire suas dúvidas rapidamente com nossa seção de Perguntas Frequentes:</p>
      <p>Perguntas Respondidas: Encontre respostas para as dúvidas mais comuns sobre o uso da plataforma, pagamento, acesso aos cursos e muito mais.</p>
    </div>
    <hr><br>
    <div class="left">
      <h1>Formulário de Contato:</h1>
      <p>Precisa de ajuda? Entre em contato conosco preenchendo o formulário abaixo:</p>
      <p>Tempo de Resposta: Nossa equipe de suporte está pronta para ajudá-lo. Espere receber uma resposta dentro de 24 horas úteis.</p>
    </div>
    <hr><br>
    <div>
      <h1>Central de Ajuda:</h1>
      <p>Explore nossa Central de Ajuda para encontrar soluções para suas dúvidas:</p>
      <p>Tutoriais Detalhados: Aprenda a usar os recursos da plataforma com nossos tutoriais passo a passo.</p>
      <p>Solução de Problemas: Encontre soluções para problemas comuns com nossos artigos detalhados.</p>
    </div>
  </div>
</div>


