mat-sidenav-content {
  height: 100vh;
}

// .toolbar-menu{
//   position: fixed;
//   font: 1rem;
//   top: 0;
//   z-index: 10;
// }

mat-toolbar-row {
  padding: 0%;
}

.toolbar-submenu {
  height: 205px;
  font-size: 2rem;
  margin-top: 0px;
  padding: 70px 0 0 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #424242;

  &-title {
    padding: 25px 30px;
    text-transform: capitalize;
  }

  &-top {
    height: 40px;
    color: #22ff86d2;
  }
}

.justify-buttons {
  display: flex;
  align-items: baseline;
}

// --------- SideNav -----------//

mat-nav-list {
  padding: 8px;
  a {
    border-radius: 100px;
    margin-bottom: 4px;
    font-size: 0.9rem;
    span {
      padding-top: 4px;
    }
  }
  a:hover,
  .active {
    background-color: #1b1b1b;
  }
}

.mat-drawer-content {
  background-color: rgb(31, 31, 31);
}

.sidenav {
  width: 250px;
  .mat-icon {
    margin: 10px 20px 0 0;
    font-size: 18px;
    color: #22ff86d2;
  }
  .mat-toolbar {
    display: flex;
    flex-direction: column;
    background-color: #424242;
    text-align: center;
  }
  a {
    text-decoration: none;
    color: white;
  }
  .avatar {
    margin-top: 90px;
    width: 150px;
    height: 225px;
    border-radius: 50%;
  }
  .name {
    margin-top: 8px;
  }
  .designation {
    font-size: 1.1rem;
    color: #22ff86d2;
  }
  mat-divider {
    margin-top: 336px;
  }
  .justify {
    margin-right: 10px;
    display: flex;
    align-items: flex-end;
    button:hover {
      background-color: rgba(20, 249, 142, 0.326);
    }
    p {
      margin: 6px;
    }
  }
  .iconPerson {
    margin: 4px 20px 0 0;
  }
}
