<app-toolbar-menu
  [menuName]="menuName"
  [popText]="popText"
  [shadow]="applyShadow"
  [itemsMenu]="itemsMenu">
</app-toolbar-menu>
<mat-toolbar
      color="secondary"
      class="toolbar-menu"
      [class.mat-elevation-z4]="applyShadow"
      >
      <span *ngIf="popText">{{menuName}}</span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    class="sidenav mat-elevation-z8"
    #sidenav
    [fixedInViewport]="true" mode="side">
    <mat-toolbar>
      <img src="../assets/images/selfie.jpg" class="avatar mat-elevation-z8">
      <div class="justify">
        <button mat-icon-button routerLink="/users" class="name">
          <mat-icon class="iconPerson">person</mat-icon>
        </button>
        <p>John Victor</p>
      </div>
      <p class="designation">Jr Software Engineer</p>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a *ngFor="let item of itemsMenu" mat-list-item
      [routerLink]="item.link" routerLinkActive="active" onclick="this.blur()">
        <div class="teste">
          <mat-icon  fontSet="fa" [fontIcon]="item.icon"></mat-icon>
          <span >{{item.label}}</span>
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar-submenu">
      <div class="toolbar-submenu-top">
        <button
          mat-icon-button class="example-icon"
          (click)="sidenav.toggle()"
          matTooltip="{{sidenav.opened ? 'Fechar menu' : 'Abrir menu'}}"
          [matTooltipPosition]="'right'">
          <mat-icon>{{sidenav.opened ? 'close' : 'menu'}}</mat-icon>
        </button>
      </div>
      <div class="toolbar-submenu-title">
        <span *ngIf="!popText">{{menuName}}</span>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
