<div class="content mat-elevation-z4">
  <app-toolbar-title title="Professores" icon="fa-solid fa-person-chalkboard">
    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
  </app-toolbar-title>
  <div class="container">
    <router-outlet></router-outlet>
    <div>
      <h1>Recursos para Professores:</h1>
      <p>Bem-vindo, professores! Aqui você encontrará tudo o que precisa para criar e publicar cursos na nossa plataforma:</p>
      <p>Diretrizes de Curso: Orientações detalhadas sobre como criar cursos de alta qualidade.</p>
      <p>Dicas de Engajamento: Descubra estratégias para envolver os alunos e melhorar sua experiência de aprendizado.</p>
    </div>
    <hr><br>
    <div class="left">
      <h1>Comunidade de Professores:</h1>
      <p>Faça parte da nossa comunidade de professores e compartilhe suas experiências:</p>
      <p>Fórum de Discussão: Colabore com outros professores, compartilhe ideias e obtenha suporte da comunidade.</p>
    </div>
    <hr><br>
    <div>
      <h1>Suporte para Desenvolvimento de Cursos:</h1>
      <p>Precisa de ajuda para criar seu curso? Estamos aqui para ajudar:</p>
      <p>Assistência Personalizada: Entre em contato conosco para obter suporte individualizado no desenvolvimento do seu curso.</p>
      <p>Ferramentas de Produção: Explore nossas ferramentas e recursos para facilitar a criação de conteúdo educacional.</p>
    </div>
  </div>
</div>


