<form [formGroup]="form">
  <div class="formContent">
    <mat-form-field class="justifySelector" color="accent">
      <mat-label>Categoria</mat-label>
      <mat-select formControlName="category">
        <mat-option>-Todas Categorias-</mat-option>
        <mat-option *ngFor="let item of categoryValue" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="justifySearchBar" color="accent">
      <mat-label>Filtro</mat-label>
      <input matInput formControlName="search">
      <button matSuffix mat-icon-button (click)="doSearch()">
        <mat-icon matSuffix>search</mat-icon>
      </button>
    </mat-form-field>
    <mat-paginator class="paginator" [length]="totalCount" [pageSize]="pageSize" [pageSizeOptions]="[4, 12, 24, 50]"
      itemsPerPageLabel="" (page)="handlePageEvent($event)" color="accent">
    </mat-paginator>
  </div>
</form>
<div class="justifyContent" *ngIf="courseData | async; else loading">
  <mat-card *ngFor="let course of courseList">
    <div class="wrapper">
      <img mat-card-image src="{{course.image}}" class="coverImage">
      <div class="justify">
        <mat-card-subtitle>
          {{course.category}}
          <div fxFlex></div>
          <button mat-mini-fab class="mat-elevation-z2 buttonJustify">
            <mat-icon class="mat-18">favorite</mat-icon>
          </button>
        </mat-card-subtitle>
          <mat-card-title>{{course.name}}</mat-card-title>
          <br>
          {{course.description}}
      </div>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button mat-button>INSCREVER</button>
        <button mat-icon-button>
          <mat-icon>share</mat-icon>
        </button>
      </mat-card-actions>
    </div>
    <img src="{{course.logo}}" class="character">
  </mat-card>
  <div *ngIf="!courseList.length" class="justifyFilter">
    <br>
    <p>Nenhum curso encontrado para o filtro: {{f.search.value}}</p>
    <p *ngIf="f.category.value">Categoria: {{f.category.value}}</p>
  </div>
</div>
<ng-template #loading>
  <mat-progress-bar mode="indeterminate" color="accent" class="loadingTemplate"></mat-progress-bar>
</ng-template>
