<div class="content mat-elevation-z4">
  <app-toolbar-title title="Cursos" icon="fa-solid fa-graduation-cap">
    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
  </app-toolbar-title>
  <div class="container">
    <router-outlet></router-outlet>
    <div>
      <h1>Descrição do Curso:</h1>
      <p>Explore nossos cursos e comece sua jornada de aprendizado hoje mesmo:</p>
      <p>Currículo Detalhado: Descubra o que cada curso oferece, com informações sobre os tópicos abordados em cada módulo.</p>
      <p>Pré-visualizações Gratuitas: Experimente uma prévia do curso antes de se inscrever para garantir que seja a escolha certa para você.</p>
    </div>
    <hr><br>
    <div class="left">
      <h1>Avaliações e Comentários:</h1>
      <p>Veja o que outros alunos têm a dizer sobre nossos cursos:</p>
      <p>Feedback Autêntico: Leia as avaliações e depoimentos de alunos anteriores para tomar uma decisão informada.</p>
      <p>Classificações Transparentes: Veja as classificações dos cursos para ajudá-lo a escolher os melhores para suas necessidades de aprendizado.</p>
    </div>
    <hr><br>
    <div>
      <h1>Recursos Adicionais:</h1>
      <p>Aprofunde seu conhecimento com recursos extras relacionados ao curso:</p>
    </div>
  </div>
</div>


